<div class="adminannouncement-body">
  
  <div class="sidebar">
    <div class="logo">
      <h1>GC<br><span>CO</span></h1>
    </div>
    <div class="nav">
      <a routerLink="/admindashboard">
        <div class="nav-item">Dashboard</div>
      </a>
      <a routerLink="/admindashboard">
        <div class="nav-item">Inventory</div>
      </a>
      <a routerLink="/admindashboard">
        <div class="nav-item">Orders</div>
      </a>
      <a routerLink="/admindashboard">
        <div class="nav-item">Pending</div>
      </a>
      <a routerLink="/admindashboard">
        <div class="nav-item active">Announcement</div>
      </a>
    </div>
    
  </div>

  
  <div class="main">
    <div>
      <h2 class="section-title">CURRENT ANNOUNCEMENTS</h2>
      <div class="announcement-grid">
        <div class="announcement-box"></div>
        <div class="announcement-box"></div>
        <div class="announcement-box"></div>
      </div>
    </div>

    <div>
      <h2 class="section-title">PAST ANNOUNCEMENTS</h2>
      <div class="announcement-grid">
        <div class="announcement-box"></div>
        <div class="announcement-box"></div>
        <div class="announcement-box"></div>
        <div class="announcement-box"></div>
        <div class="announcement-box"></div>
        <div class="announcement-box"></div>
      </div>
    </div>
  </div>
</div>