
<div class="adminorders-body">

  <div class="container">
    
    <div class="sidebar">
      <div class="logo">
        <h1>GC<br><span>CO</span></h1>
      </div>
      <div class="nav">
        <a routerLink="/admindashboard">
          <div class="nav-item">Dashboard</div>
        </a>
        <a routerLink="/admininventory">
          <div class="nav-item">Inventory</div>
        </a>
        <a routerLink="/adminorders">
          <div class="nav-item active">Orders</div>
        </a>
        <a routerLink="/adminpending">
          <div class="nav-item">Pending</div>
        </a>
        <a routerLink="/adminannouncement">
          <div class="nav-item">Announcement</div>
        </a>
      </div>
      
    </div>

    
    <div class="main">
      <div class="orders-container">

        
        <div class="order">
          <div class="order-header">
            <div class="info">
              <div class="icon">👤</div>
              <div>Lebron James</div>
            </div>
            <div>06-06-2025 <span class="arrow">⌄</span></div>
          </div>
          <div class="order-details">
            <table>
              <tr><th>Quantity</th><th>Size</th><th>Item</th></tr>
              <tr><td>2</td><td>Large</td><td>Men's Uniform</td></tr>
              <tr><td>1</td><td>Large</td><td>P.E. Uniform</td></tr>
            </table>
            <div class="button-group">
              <button class="decline">Decline</button>
              <button class="accept">Accept</button>
            </div>
          </div>
        </div>

        
        <div class="order">
          <div class="order-header">
            <div class="info">
              <div class="icon">👤</div>
              <div>Kevin Durant</div>
            </div>
            <div>06-06-2025 <span class="arrow">⌄</span></div>
          </div>
          <div class="order-details">
            <table>
              <tr><th>Quantity</th><th>Size</th><th>Item</th></tr>
              <tr><td>2</td><td>Large</td><td>Men's Uniform</td></tr>
              <tr><td>1</td><td>Large</td><td>P.E. Uniform</td></tr>
            </table>
            <div class="button-group">
              <button class="decline">Decline</button>
              <button class="accept">Accept</button>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>