<div class="adminpending-body">

  <div class="sidebar">
    <div class="logo">
      <h1>GC<br><span>CO</span></h1>
    </div>
    <div class="nav">
      <a routerLink="/admindashboard">
        <div class="nav-item">Dashboard</div>
      </a>
      <a routerLink="/admininventory">
        <div class="nav-item">Inventory</div>
      </a>
      <a routerLink="adminorders">
        <div class="nav-item">Orders</div>
      </a>
      <a routerLink="/adminpending">
        <div class="nav-item active">Pending</div>
      </a>
      <a routerLink="/adminannouncement">
        <div class="nav-item">Announcement</div>
      </a>
    </div>
    
  </div>

  
  <div class="main">
    
    <div class="left-panel">
      <div class="left-panel-header">
        <span>👤 Nikola Jokic</span>
        <span>05-06-2025</span>
      </div>
      
    </div>

    
    <div class="right-panel">
      <div class="order-list">
        <h3>Order List</h3>
      </div>

      <div class="chat-box">
        <div class="chat-content">
          
        </div>
        <div class="chat-input">
          <input type="text" placeholder="Type a message...">
          <button>➤</button>
        </div>
      </div>
    </div>
  </div>
</div>  