 <div class="adminlogin-body">
   
    <img src="adminloginbg.png" alt="Admin Login Background" class="adminlogin-bg">
    <div class="adminlogin-container">
        <img src="adminlogintitle.png" alt="Admin Login Title" class="adminlogin-title">  
    
        <div class="container">
            <p class="adminlogin-text">Welcome, Admin!</p>
                <form method="post">    
                    <div class="form-box" id="login-form">  
                        <div class="input-container">
                            
                        <mat-icon class="fa fa-user">perm_identity</mat-icon>
                        <input type="text" [(ngModel)]="email" name="email" placeholder="Email" class="input-field" required>
                        </div>
                        
                        <div class="input-container">
                        <mat-icon class="fa fa-lock">lock</mat-icon>
                        <input 
                        [type]="showPassword ? 'text' : 'password'" 
                        id="password" 
                        [(ngModel)]="password" 
                        name="password"  
                        placeholder="Password" 
                        class="input-field" 
                        required>
                        <mat-icon 
                        class="fa togglePassword" 
                        [ngClass]="showPassword ? 'fa-eye-slash' : 'fa-eye'" 
                        (click)="togglePasswordVisibility()">
                        {{ showPassword ? 'visibility_off' : 'visibility' }}
                        </mat-icon>
                        </div>
                        <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
                        <a routerLink="/userlogin">User?</a>
                        
                        <button (click)="login()" 
                        name="login-btn">
                        LOGIN
                    </button>
                    </div>
                </form>  
            </div>
        </div>  
        
</div>