<div class="admindashboard-body">
    <div class="container">
        
        <div class="sidebar">
            <div class="logo">
                <h1>GC<br><span>CO</span></h1>
            </div>
            <div class="nav">
                <div class="nav-item active">Dashboard</div>
                <a routerLink="/admininventory">
                  <div class="nav-item">Inventory</div>
                </a>
                <a routerLink="/adminorders">
                  <div class="nav-item">Orders</div>
                </a>
                <a  routerLink="/adminpending">
                  <div class="nav-item">Pending</div>
                </a>
                <a routerLink="/adminannouncement">
                  <div class="nav-item">Announcement</div>
                </a>
              </div>              
        </div>

       
        <div class="main">
            
            <div class="top-cards">
                <div class="card">
                    <h3>New Orders</h3>
                    <p>100</p>
                </div>
                <div class="card">
                    <h3>Pending Orders</h3>
                    <p>100</p>
                </div>
                <div class="card">
                    <h3>Total Sales</h3>
                    <p>1,000</p>
                </div>
            </div>

            
            <div class="stocks-section">
                <div class="stocks-header">
                    <hr>
                    <h2>Available Stocks</h2>
                    <hr>    
                </div>
                <div class="stock-cards">
                    <div class="stock-card">
                        <h4>Men’s Uniform</h4>
                        <p>1,000</p>
                    </div>
                    <div class="stock-card">
                        <h4>Women’s Uniform</h4>
                        <p>1,000</p>
                    </div>
                    <div class="stock-card">
                        <h4>P.E. Uniform</h4>
                        <p>1,000</p>
                    </div>
                    <div class="stock-card">
                        <h4>NSTP Shirt</h4>
                        <p>1,000</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>